# Used Python create engine to connect Mysql database

In [2]:
import pandas as pd
import numpy as np
import pymysql
import sqlalchemy
from sqlalchemy_utils import database_exists, create_database

In [3]:
#create new database
# dialect://name:password@localhost:xxx/database name
#fill up password of the mysql
conn = sqlalchemy.create_engine(
    'mysql+pymysql://root:Cjy100100100cjy@localhost:3306/casedb',echo=False)
if not database_exists(conn.url):
    create_databse(conn.url)

In [4]:
conn

Engine(mysql+pymysql://root:***@localhost:3306/casedb)

In [5]:
conn.url

mysql+pymysql://root:***@localhost:3306/casedb

In [6]:
database_exists(conn.url)

True

# Input DF data into database

In [8]:
# import data into dataframe
df = pd.read_csv('order2205.csv')
df.head()

,ID,buyer_id,alipay,actual_amt,Receiver_name,address,payment_time
0,1.290000e+16,2414,A8608787884,597.12,1459,云南省 楚雄彝族自治州 楚雄市 鹿城镇开发区永安小学背后盛业家园小区(675000),2022/5/1 0:00
1,1.290000e+16,512,A47A4CCC5C7,99.20,3049,广东省 深圳市 龙华新区 观澜街道大富工业区大富路新宏泽工业园顺丰仓储物流配送中心-淘宝集运...,2022/5/1 0:29
2,1.160000e+16,1175,A5A0C695AB4,13.70,1462,海南省 三亚市 海南省三亚市解放二路443号汽车总站海汽宿舍区A栋(572000),2022/5/1 0:37
3,1.290000e+16,1426,65-8C68B494,36.00,2,广东省 东莞市 沙田镇大泥村临海北路5号中通快递B栋四楼新马集运仓@PSKL5QB(000...,2022/5/1 1:37
4,1.290000e+16,2787,bendanshadanACA4vip.qq,59.10,1481,海南省 海口市 秀英区 西秀镇博养村(570312),2022/5/1 1:45

Used **to_sql function** input local dataframe into

df.to_sql(
    name: 'str',
    con,
    schema=None,
    if_exists: 'str' = 'fail',
    index: 'bool_t' = True,
    index_label=None,
    chunksize=None,
    dtype: 'DtypeArg | None' = None,
    method=None,
)

In [17]:
#If the name of table have uppercase, it will cause warning
df.to_sql('order2205',conn,if_exists='replace',index=False)

3900

# Used Pandas read database
### pd.read_sql()

In [19]:
sql = 'show tables'
pd.read_sql(sql,conn)

  Tables_in_casedb
0        order2205
1            test1

In [20]:
sql = 'select * from order2205'
pd.read_sql(sql,conn)

,ID,buyer_id,alipay,actual_amt,Receiver_name,address,payment_time
0,1.290000e+16,2414,A8608787884,597.12,1459,云南省 楚雄彝族自治州 楚雄市 鹿城镇开发区永安小学背后盛业家园小区(675000),2022/5/1 0:00
1,1.290000e+16,512,A47A4CCC5C7,99.20,3049,广东省 深圳市 龙华新区 观澜街道大富工业区大富路新宏泽工业园顺丰仓储物流配送中心-淘宝集运...,2022/5/1 0:29
2,1.160000e+16,1175,A5A0C695AB4,13.70,1462,海南省 三亚市 海南省三亚市解放二路443号汽车总站海汽宿舍区A栋(572000),2022/5/1 0:37
3,1.290000e+16,1426,65-8C68B494,36.00,2,广东省 东莞市 沙田镇大泥村临海北路5号中通快递B栋四楼新马集运仓@PSKL5QB(000...,2022/5/1 1:37
4,1.290000e+16,2787,bendanshadanACA4vip.qq,59.10,1481,海南省 海口市 秀英区 西秀镇博养村(570312),2022/5/1 1:45
...,...,...,...,...,...,...,...
3895,2.110000e+16,2903,A5AC6790660,25.21,494,河南省 新乡市 新乡县 七里营镇便民服务中心大厅工商局窗口(453700),2022/5/30 10:24
3896,2.410000e+16,173,A57B40875B5,20.60,837,广东省 河源市 源城区 东埔街道高塘丰源新村华登玩具厂(517000),2022/5/30 10:43
3897,2.120000e+16,1689,A55BB09A8C4,53.51,227,天津 天津市 大港区 塘镇 西正河村 冯长俊收(300270),2022/5/30 11:02
3898,2.410000e+16,3245,windon88sina.cn,24.60,2997,广东省 中山市 三乡镇平南工业区溢盛集团内罗顿五金厂(528463),2022/5/30 11:02
3899,2.120000e+16,861,99C59C4B9qq,120.70,1816,江苏省 苏州市 吴中区 越溪街道越溪镇文溪花苑1幢2单元304(215104),2022/5/30 11:07

In [21]:
# Select the order which is higher than 1000 in descend order
sql ='SELECT * FROM order2205 WHERE actual_amt >1000 Order by actual_amt desc'
pd.read_sql(sql,conn)

,ID,buyer_id,alipay,actual_amt,Receiver_name,address,payment_time
0,2.270000e+16,2893,5A49806C8qq,3521.0,2067,福建省 厦门市 思明区 筼筜街道湖滨中路518号国土资源局(361001),2022/5/24 19:12
1,1.950000e+16,2724,AC75A58884C,1250.0,2660,广东省 惠州市 惠城区 马安镇新乐工业区新乐幼儿园(516001),2022/5/25 14:44
2,1.850000e+16,2128,AC5998CAABC,1245.0,850,福建省 宁德市 古田县 城东街道小福娃幼儿园(352200),2022/5/23 9:38
3,1.910000e+16,1324,A570675C55A,1033.0,2096,浙江省 温州市 乐清市 柳市镇浙江省温州市乐清市柳市镇三里一路九号二楼(325600),2022/5/24 18:35

In [35]:
# Select the order name include 'A'
# must use %%
sql ='SELECT * FROM order2205 WHERE alipay like "%%A" ' 
pd.read_sql(sql,conn)

,ID,buyer_id,alipay,actual_amt,Receiver_name,address,payment_time
0,1.290000e+16,1232,60-AB8A70BBA,6.55,3,广东省 广州市 白云区 嘉禾街道106国道段旺岭1号粤旺大厦 H-9201 东马 ...,2022/5/1 9:50
1,1.300000e+16,2044,A58A87B748A,14.79,833,福建省 三明市 尤溪县 城关镇城东新村2栋702(365100),2022/5/1 10:19
2,1.300000e+16,1232,60-AB8A70BBA,4.56,3,广东省 广州市 白云区 嘉禾街道106国道段旺岭1号粤旺大厦 H-9201 东马 ...,2022/5/1 13:40
3,1.170000e+16,2152,ACCC7CA6C9A,69.00,882,湖南省 长沙市 长沙县 星沙街道幸福里24栋，103(410100),2022/5/1 14:45
4,1.170000e+16,371,A505B9B6B6A,57.66,85,江苏省 镇江市 扬中市 油坊镇油坊医院旁，同德村478号(212003),2022/5/1 16:37
...,...,...,...,...,...,...,...
308,2.090000e+16,2708,AC7B645090A,11.87,1866,广东省 东莞市 东城街道东城南路新世界花园青松路122号1D(523000),2022/5/29 19:00
309,2.400000e+16,1226,A87780BAC5A,18.90,2540,广西壮族自治区 南宁市 西乡塘区 西乡塘街道广西南宁市西乡塘区新阳龙腾路雅里上坡34—5号(...,2022/5/29 20:13
310,2.100000e+16,2235,A5BA5BB06CA,64.96,290,重庆 重庆市 开县 九龙山镇重庆市开县九龙山镇龙兴村五组115号(405400),2022/5/29 20:37
311,2.100000e+16,2274,A595C8CBCCA,18.30,2256,山东省 泰安市 新泰市 新汶街道黄山村(000000),2022/5/29 21:51
312,2.110000e+16,2953,AC54B99004A,29.50,1491,广东省 肇庆市 怀集县 怀城镇城北三路二巷71号(526400),2022/5/30 6:44

# Used Python update database

In [47]:
sql ='SELECT * FROM test1 '
df2 = pd.read_sql(sql,conn)

#### Method 1: First merge the new data with the original data in python, and then use to_sql to import it into the database to overwrite the original data

In [51]:
newdata = pd.read_csv('newdata.csv')
df_new = pd.concat([df2,newdata])
df_new.shape

(3987, 8)

In [52]:
df_new.to_sql('test1',conn,if_exists='replace')

3987

In [53]:
sql ='SELECT * FROM test1 '
pd.read_sql(sql,conn).shape

(3987, 9)

#### Method 2: Use SQL statement INSERT INTO to append

In [54]:
df.to_sql('test2',conn,if_exists='replace',index=False)

3900

In [ ]:
sql = 'insert into '

In [64]:
sql = 'select * from test2'
df3 = pd.read_sql(sql, conn)
df3.shape

(3900, 7)

In [68]:
newdata.loc[0,:].values

array([2.12e+16, 2420, 'A87C86587C8', 30.63, 3091,
       '陕西省 西安市 其它区 省  西安市  经开区草滩生态产业园雨润农产品全球采购中心水果批发市场   1栋3排9号   旺利来超市(710000)',
       '2022/5/30 11:28'], dtype=object)

In [74]:
# Change array data type into tuple
# Input tuple into sql statement
newdata_tuple = tuple(newdata.loc[0,:].values)

In [70]:
newdata_tuple

(2.12e+16,
 2420,
 'A87C86587C8',
 30.63,
 3091,
 '陕西省 西安市 其它区 省  西安市  经开区草滩生态产业园雨润农产品全球采购中心水果批发市场   1栋3排9号   旺利来超市(710000)',
 '2022/5/30 11:28')

### Use **cursor.excute('sql')** to insert data
### To avoid warning of without return

In [79]:
# Insert a new data to the test2 table
with conn.begin() as con:
    sql = "INSERT INTO test2 VALUES (%s, %s, %s, %s, %s, %s, %s)"
    con.execute(sql,newdata_tuple)

In [80]:
pd.read_sql('SELECT * FROM test2',conn).shape

(3901, 7)

In [81]:
# Delete the data just inserted
with conn.begin() as con:
    sql = 'DELETE FROM test2 WHERE payment_time = "2022/5/30 11:28"'
    con.execute(sql)

In [82]:
pd.read_sql('SELECT * FROM test2',conn).shape

(3900, 7)

In [85]:
# Insert all the data in newdata to the test2 table
with conn.begin() as con:
    sql= "INSERT INTO test2 VALUES (%s, %s, %s, %s, %s, %s, %s)"
    for i in range(newdata.shape[0]):
        insert_row = tuple(newdata.iloc[i,:].values)
        con.execute(sql, insert_row)

In [86]:
pd.read_sql('SELECT * FROM test2',conn).shape

(3987, 7)